<%- include('../partials/header.ejs')%>



<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./login.ejs"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Check Out</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<div class="checkout-area ptb-100">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="coupon-accordion">

                    <!-- ACCORDION START -->
                    
                    
                    <h6><span id="showcoupon">Click here to view your available coupons</span></h6><br>
                    <div id="couponModal" class="modal">
                        
                        
                        

                        <!-- Modal content -->

                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <h2>Available Coupons</h2>
                          <p>Here are your available coupons.Copy the coupon Code and paste to apply Coupon</p>
                          <!-- <p><strong>Coupon Code:</strong> <span id="couponList"></span></p> -->
                          <table class="table table-bordered" id="couponTable">
                            <thead>
                                <tr>
                                    <th>Coupon Code</th>
                                    <th>Description</th>
                                    
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Copy</th>
                                </tr>
                            </thead>    
                            <tbody id="couponBody">
                                <!-- Coupons will be dynamically added here -->
                            </tbody>
                        </table>
                        
                        </div>
                      </div>
                      <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <p class="checkout-coupon">
                                <input type="text" id="couponCode" placeholder="Coupon code" name="coupon" class="coupon-input" />
                                <input type="button" onclick="applyCouponAjax('<%= grandTotal %>','<%= walletBalance %>')" id="couponButton" value="Apply Coupon" class="coupon-button" />
                            </p>
                            <p id="coupon-details"></p>
                        </div>
                    </div>
                    
                    <!-- ACCORDION END -->
                </div>  
               
            </div>
        </div>
        <br>
        
        
        <form action="/placeOrder" method="POST" id="checkout-form">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="checkbox-form">
                        <div class="d-flex">
                            <h3>Billing Address</h3>                           

                        </div>
                        <br>
                        <a class="" href="/addAddressPage?from=checkoutPage">Click here to add a new address</a>
                                            
                        
                        <br>
                        <br>
                        <div class="row">
                            <% if (address.length > 0) { %>
                                <% address.forEach(address => { %>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="address"
                                                    value="<%= address._id %>" required>
                                                <label class="form-check-label">
                                                    <%= address.house_name %><br>
                                                    <%= address.addressType %><br>
                                                    <%= address.house_name %>, <br>
                                                    <%= address.street_address %>,<br>
                                                    <%= address.city %>,
                                                    <br>
                                                    <%= address.state %>,
                                                    <%= address.postCode %><br>
                                                    Phone no.: <%= address.phone %> Alt Phone No.:<%= address.alt_phone %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <div class="d-flex justify-content-between">
                                    <h4 class="mb-4">No address found</h4>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>               
                
                <div class="col-lg-6 col-md-12 col-12">
                                      
                    <div class="your-order">
                        <h3>Your Order</h3>
                        <input type="hidden" id="originalCartData" name="cartItems"
                            value="<%= JSON.stringify(cartItem) %>" />

                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartItem.forEach(item => { %>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                <%= item.product.productName %> <strong class="product-quantity">
                                                    × <%= item.quantity %></strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount">
                                                    ₹ <%= (item.product.salePrice * item.quantity).toLocaleString() %>
                                                </span>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td><span class="amount">
                                            ₹ <%= (cartSubtotal).toLocaleString() %>
                                            </span></td>
                                    </tr>
                                    <tr class="processingFee">
                                        <th>Processing Fee</th>
                                        <td><span class="amount">₹ <%= processingFee %></span></td>
                                    </tr>
                                    <tr class="deductedWalletAmount" style="display: none;">
                                        <th>Wallet</th>
                                        <td>
                                            <span id="deductedAmount"></span>
                                        </td>
                                    </tr>

                                    <tr class="coupon-applied" style="display: none;">
                                        <th>Coupon</th>
                                        <td>
                                            <span id="couponDiscount">df</span>
                                        </td>
                                    </tr>

                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td><strong>₹ <span class="amount" id="orderTotal"><%= grandTotal %></span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5>Wallet Available Balance: ₹<span id="walletBalanceAmount"><%= (walletBalance).toLocaleString() %></span></h5>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <br>
                        
                        <div class="payment-method">
                            <div class="row">
                                <div class="col-md-12">                                
                                <div class="payment-accordion">
                                    <div class="panel-group" id="paymentMethods">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">Choose your Payment Method</h5>
                                            </div>
                                            <br>
                                            <div id="paymentMethodsContent" class="panel-collapse collapse show"
                                                data-bs-parent="#paymentMethods">
                                                <div class="panel-body">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" value="COD"
                                                            name="paymentMethod" id="COD" required>
                                                        <label class="form-check-label" for="cashOnDelivery">Cash On
                                                            Delivery (COD)</label>
                                                    </div>
                                                    <% if (amount) { %> 
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                value="Wallet" name="paymentMethod"
                                                                id="payWithWallet" required>
                                                            <label class="form-check-label" for="razorPay">Pay
                                                                with
                                                                Wallet</label>
                                                        </div>

                                                        <% } else if (minBalance) {%>

                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    value="payWithWallet"
                                                                    id="payWithWallet" name="paymentMethod"
                                                                    required>
                                                                <label class="form-check-label" for="payWithWallet">
                                                                    Pay with Wallet
                                                                </label>
                                                            </div>

                                                            <% } %>

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                        value="RazorPay" name="paymentMethod"
                                                                        id="razorPay" required>
                                                                    <label class="form-check-label"
                                                                        for="razorPay">RazorPay</label>
                                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                           
                                
                            </div>
                            
                        </div>
                    </div>
                    <% if (address.length > 0) { %>
                        <div class="order-button-payment">
                            <button type="button" onclick="placeOrder()" id="submitButton">Place order</button>
                        </div>
                        
                    <% } else { %>
                        <p class="text-center text-danger">You have no address! Please add an Address to place your
                            order.</p>
                    <% } %>
                </div>
            </div>
        </form>
        
    </div>
</div>



<style>
     /* Custom styles for the checkout page */

    /* Billing Address Section */
    .checkbox-form {
        margin-bottom: 30px;
    }

    /* Order Summary Section */
    .your-order {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
    }

    .your-order h3 {
        margin-bottom: 20px;
    }

    .your-order-table {
        margin-bottom: 20px;
    }

    .order-button-payment {
        margin-top: 20px;
    }

    /* Place Order Button */
    #submitButton {
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: #ffc107;
        color: #fff;
        cursor: pointer;
    }

    #submitButton:hover {
        background-color: #6c757d;
    }

    /* Styling for Billing Address Addition Button */
    .billing-address-btn {
        background-color: #6c757d;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 10px;
    }

    .billing-address-btn:hover {
        background-color: #ffc107;
    }  

    /* Styles for the coupon display */
    #showcoupon {
        cursor: pointer; /* Change cursor to pointer on hover */
    }

    #showcoupon:hover {
        background-color: #6c757d; /* Change background color on hover */
        border-radius: 0px; /* Add rounded corners */
        padding: 8px; /* Add padding for better visual */
    }

    /* Styles for the coupon input field */
    .coupon-input {
        padding: 10px; /* Add padding */
        border: 1px solid #ccc; /* Add border */
        border-radius: 5px; /* Add rounded corners */
        width: 200px; /* Set width */
        margin-right: 10px; /* Add margin between input and button */
    }

    /* Styles for the apply button */
    .coupon-button {
        padding: 10px 20px; /* Add padding */
        background-color: #ffc107; /* Green background color */
        color: white; /* White text color */
        border: none; /* Remove border */
        border-radius: 0px; /* Add rounded corners */
        cursor: pointer; /* Change cursor to pointer */
    }

    .coupon-button:hover {
        background-color: #6c757d; /* Darker green background color on hover */
    }

    .list-btn-style {
        /* Your existing styles for the link */
        text-decoration: none; /* Remove underline */
        color: #333; /* Default text color */
        border: 1px solid #ccc; /* Add border */
        padding: 8px 16px; /* Add padding */
        border-radius: 5px; /* Add rounded corners */
        transition: background-color 0.3s ease; /* Add transition effect */
    }

    .list-btn-style:hover {
        background-color: #f0f0f0; /* Change background color on hover */
    } 

    


</style>

<!-- Script Section -->
<script>
    $('#checkout-form').submit(function (e) {
            e.preventDefault();
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true; // Disables the submit button

            // checking the cartItems if there is any changes--
            $.ajax({
                url: '/checkout',
                method: 'GET',
                data: {
                    originalCartInput
                },
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        placeOrder()  //if no change in cart place the order else refresh
                        submitButton.disabled = false
                    } else {
                      changeInCartAlert()
                      submitButton.disabled = false
                    }

                },
                error: function (err) {
                    console.error(err);
                }
            });
        });
</script>

<script>
    function applyCouponAjax(total, walAmount) {
        
            $.ajax({
                type: 'POST',
                url: '/applyCoupon',
                data: {
                    couponCode:document.getElementById('couponCode').value,
                    total,
                    walAmount
                },
                success: function (response) {
                    console.log('sidd', response);
                    if (response.success) {

                        couponRow.style.display = 'table-row';
                        orderTotalElement.innerText = `${response.amountToPay}`;
                        couponDiscount.innerText = `-${response.discountAmount}`;
                        couponDiscount.style.color = 'red';

                        couponDetails.innerText = `${response.message}`;
                        couponDetails.style.color = 'green';

                        // change the apply coupon to remove coupon
                        $('#couponButton').val('Remove Coupon');
                        $('#couponButton').off('click');
                        $('#couponButton').on('click', function () {
                            window.location.reload();
                        });

                    } else if (!response.success) {
                        orderTotalElement.innerText = total;
                        couponDetails.innerText = `${response.message}`;
                        couponDetails.style.color = 'red';
                        $('#couponButton').val('Remove Coupon');
                        $('#couponButton').off('click');
                        $('#couponButton').on('click', function () {
                            window.location.reload();
                        });

                    }
                },
                error: function () {
                    alert('An error occurred in sending coupon code');
                }
            });
        }
</script>

<script>
    
        // wallet discounting row 
        const cod = document.getElementById('COD')
        const razorPay = document.getElementById('razorPay')
        const payWithWallet = document.getElementById('payWithWallet')
        const walletBalanceElement = document.getElementById("walletBalanceAmount");
        const orderTotalElement = document.getElementById("orderTotal");
        const deductedWalletRow = document.querySelector(".deductedWalletAmount");
        const couponDetails = document.getElementById("coupon-details");
        // coupon discount table row
        const couponRow = document.querySelector(".coupon-applied");



        const currentWallet = walletBalanceElement.textContent.trim().replace('₹', '');
        const walBalance = parseFloat(currentWallet);

        const orderTotalValue = orderTotalElement.textContent.trim().replace('₹', '');
        const total = parseFloat(orderTotalValue);
        const totalAmount = total
        const PaywithWallet = document.getElementById("paywithWallet");

        if (PaywithWallet) {
            // checking walletamount and totalamount to pay
            PaywithWallet.addEventListener("change", function () {
                var couponCode = $('#couponCode').val();
                if (PaywithWallet.checked) {
                    $.ajax({
                        url: '/updateWalletAmount',
                        method: 'GET',
                        data: {
                            total,
                            couponCode
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log(response)

                                walletBalanceElement.innerText = 0;

                                // Update the order total element
                                deductedWalletRow.style.display = 'table-row';
                                orderTotalElement.innerText = `${response.amountTopay}`;
                                deductedAmount.innerText = `-${response.walletBalance}`;
                                deductedAmount.style.color = 'red';


                            } else {
                                console.log('inside error log');
                            }

                        },
                        error: function (err) {
                            console.error(err);
                        }
                    });
                }
            });

            cod.addEventListener("change", function () {
                if (cod.checked) {

                    deductedWalletRow.style.display = 'none';
                    orderTotalElement.innerText = total;
                    walletBalanceElement.innerText = walBalance;
                    // deductedWalletRow.style.display = 'none';
                }
            });
            razorPay.addEventListener("change", function () {
                if (razorPay.checked) {

                    deductedWalletRow.style.display = 'none';
                        Element.innerText = total;
                    walletBalanceElement.innerText = walBalance;
                    // deductedWalletRow.style.display = 'none';
                }
            });
        }


        // $('submitButton').click(function(){
        //     alert('vannu')
        //     placeOrder()
        // })
        // when coupon applied
        // $('#couponForm').submit(function (e) {
        //     e.preventDefault();
        //     var couponCode = $('#couponCode').val();
        //     let walAmount = null;
        //     if (walletWithRazorpay && walletWithRazorpay.checked) {
        //         walAmount = walBalance
        //     }
        //     applyCouponAjax(couponCode, total, walAmount)
        // });

        

        // setTimeoUt for coupon details p tag--
        function hideCouponDetails() {
            couponDetails.innerText = ''
        }
        setTimeout(hideCouponDetails, 5000);


        cod.addEventListener("change", function () {
            if (cod.checked) {
                var couponCode = $('#couponCode').val();
                let walAmount = null;
                if (couponCode !== '') {
                    applyCouponAjax(couponCode, total, walAmount)
                }

            }
        });
        razorPay.addEventListener("change", function () {
            if (razorPay.checked) {
                var couponCode = $('#couponCode').val();
                let walAmount = null;
                if (couponCode !== '') {
                    applyCouponAjax(couponCode, total, walAmount)
                }
            }
        });



        
            

            // place the order after checking the cart--
            function placeOrder() {
                var formData = $('#checkout-form').serialize();
                formData += '&couponCode=' + $('#couponCode').val(); // Capture coupon code here

                formData += '&couponCode=' + couponCode;
                $.ajax({
                    url: '/placeOrder',
                    method: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.outofStock) {
                            outofStockAlert();
                        }
                        if (response.codSuccess || response.walletSuccess) {
                            window.location.href = `/orderPlacedPage?id=${response.orderId}`;
                        } else {
                            console.log(response);
                            razorpayPayment(response);
                        }
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            }


        // paymentm model--
        function razorpayPayment(order) {

            var options = {
                "key": 'rzp_test_N5ym18Qp7EhuC8',
                "amount": order.response.amount,
                "currency": "INR",
                "name": "Jhaanjhariya", //your business name
                "description": "Test Transaction",
                "image": "",
                "order_id": order.response.id,
                "handler": function (response) {

                    verifyPayment(response, order)
                },
                "modal": {
                    "ondismiss": function () {
                        cancelOrder(order)
                    }
                },
                "prefill": {
                    "name": `${order.userdata.fname}`,
                    "email": `${order.userdata.email}`,
                },
                "notes": {
                    "address": "83 Boswell Avenue,Johannesburg South , Uttrakhand"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                console.log('response in failure', order)   
                cancelOrder(order)
            });
            rzp1.open();

        }

        // verifying the payment after success ---
        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verifyPayment',
                method: 'POST',
                data: {
                    payment,
                    order
                },
                success: (response) => {
                    if (response.status) {
                        window.location.href = `/orderPlacedPage?id=${response.orderID}`;
                    } else {
                        console.log('inside the error');
                        console.log(response);
                        alert(response.errMsg)
                    }
                },
                error: function (err) {
                    console.error(err);
                    console.log('Error in verifying the payment');
                }

            })
        }

        // cancel order when payment is failed or ----
        // when payment Model is closed without making payment ------
        function cancelOrder(order) {
            $.ajax({
                url: '/payment-failed',
                method: 'POST',
                data: {
                    order
                },
                success: (response) => {
                    if (response.status) {
                        window.location.href = `/checkout`;
                        console.log('order cancelled after payment failed');
                    }
                },
                error: function (err) {
                    console.error(err);
                    console.log('Error in verifying the payment');
                }

            })
        }


        function outofStockAlert() {
            Swal.fire({
                title: 'Sorry! Insufficient stock for some products',
                text: 'By clicking ok you will be redirected to Cart',
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user clicks "Yes," redirect to the removeProduct endpoint
                    window.location.href = "/cart"
                }
            });
        }

        function changeInCartAlert() {
            Swal.fire({
                title: 'OOPS! There is a change in the cart.',
                text: 'If you want to continue the order , please click continue',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Continue'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If the user clicks "Yes," redirect to the removeProduct endpoint
                    window.location.href = "/checkout"
                } else {
                    window.location.href = '/cart'
                }
            });
        }

    


</script>

<style>
    /* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the copy coupon button */
#copyButton {
    background-color: #4CAF50; /* Green background color */
    border: none; /* Remove button border */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for button */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s; /* Transition duration */
    cursor: pointer; /* Cursor pointer */
    border-radius: 8px; /* Rounded corners */
}

#copyButton:hover {
    background-color: #45a049; /* Darker green background color on hover */
}

/* CSS for flash message */
.flash-message {
    position: fixed; /* Fixed position */
    top: 20px; /* Distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow */
    z-index: 9999; /* Ensure it appears on top of other elements */
}




</style>

<script>
    // Get the modal
var modal = document.getElementById("couponModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
document.getElementById("showcoupon").onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}



</script>

<script>
    // Function to copy coupon code
    function copyCoupon(code) {
    var input = document.createElement('input');
    input.setAttribute('value', code);
    document.body.appendChild(input);
    input.select();
    document.execCommand('copy');
    document.body.removeChild(input);

    // Create flash message element
    var flashMessage = document.createElement('div');
    flashMessage.textContent = "Coupon code copied!";
    flashMessage.classList.add('flash-message'); // Add a class for styling
    document.body.appendChild(flashMessage);

    // Remove flash message after 3 seconds
    setTimeout(function() {
        document.body.removeChild(flashMessage);
    }, 3000);
}


    
    // Function to populate table with coupons
    function populateTable(coupons) {
        const couponBody = document.getElementById('couponBody');
        couponBody.innerHTML = '';
        
        if (coupons.length > 0) {
            coupons.forEach(coupon => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${coupon.code}</td>
                    <td>${coupon.description}</td>
                    
                    <td>${new Date(coupon.timestamp).toLocaleDateString('en-IN', { year: 'numeric', month: 'long', day: 'numeric' })}</td>
                    <td>${new Date(coupon.expirationDate).toLocaleDateString('en-IN', { year: 'numeric', month: 'long', day: 'numeric' })}</td>
                    <td>
                        <button onclick="copyCoupon('${coupon.code}')" id="copyButton">Copy</button>
                    </td>
                `;
                couponBody.appendChild(tr);
            });
        } else {
            const tr = document.createElement('tr');
            tr.innerHTML = '<td colspan="6">No Coupons!</td>';
            couponBody.appendChild(tr);
        }
    }

    // Function to fetch and display coupons
    async function fetchCoupons() {
        try {
            const response = await fetch('/couponDetails'); // Replace '/api/coupons' with your API endpoint
            const data = await response.json();
            populateTable(data.coupons);
        } catch (error) {
            console.error('Error fetching coupons:', error);
        }
    }

    // Get the modal
    var modal = document.getElementById("couponModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal and fetch coupons
    document.getElementById("showcoupon").onclick = function() {
        modal.style.display = "block";
        fetchCoupons();
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>


<style>
    
</style>

<%- include('../partials/footer.ejs')%>