<%-include('../partials/header.ejs') %>

<br>
<br>

<!-- Edit Address Modal -->
<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/updateAddress/<%= editData._id %>" method="POST" class="address-form" onsubmit="return validateForm()">
            <!-- Your form fields for editing address details -->
            <!-- For example: -->
            <div class="mb-3">
              <label for="addressName" class="form-label">Address Name</label>
              <input type="text" class="form-control" id="addressName" name="name" value="<%= editData.name %>">
            </div>
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="addressType">Address Type:</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="home" name="addressType"
                                        value="Home" checked>
                                    <label class="form-check-label" for="home">Home</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="work" name="addressType"
                                        value="Work">
                                    <label class="form-check-label" for="work">Work</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">House Name <span class="required">*</span></label>
                                <input type="text" name="address" class="form-control" value="<%= editData.house %>"
                                    placeholder="House Name" />
                                <div class="error-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="address">Street Name <span class="required">*</span></label>
                                <input type="text" name="address" class="form-control" value="<%= editData.street %>"
                                    placeholder="Street Address" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6  ">
                            <div class="form-group mt-2">
                                <label for="city">City <span class="required">*</span></label>
                                <input type="text" name="town" class="form-control" value="<%= editData.town %>"
                                    placeholder="Town / City" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mt-2">
                                <label for="state">State<span class="required">*</span></label>
                                <input type="text" name="state" class="form-control" value="<%= editData.state %>"
                                    placeholder="State" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mt-2">
                                <label for="postcode">Pin-Code <span class="required">*</span></label>
                                <input type="text" name="postCode" class="form-control"
                                    value="<%= editData.postCode %>" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label for="phone">Phone Number<span class="required">*</span></label>
                                <input type="text" name="phone" class="form-control" value="<%= editData.phone %>"
                                    placeholder="Phone" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label for="phone">Alt Phone Number<span class="required">*</span></label>
                                <input type="text" name="phone" class="form-control" value="<%= editData.phone %>"
                                    placeholder="Phone" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>

<script src="/assets/js/users/addressValidation.js"></script>


<br>
<br>


<%-include('../partials/footer.ejs') %>