<%-include('../partials/header.ejs') %>

<br>
<br><div class="add-address pb-10">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
          <form action="/editAddress/<%= editData._id %>" method="POST" class="address-form" onsubmit="return validateForm()">
            <form action="" method="POST" class="address-form" onsubmit="return validateForm()">
                    <h3>Edit Address</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first-name"> Name:<span class="required">*</span></label>
                                <input type="text" name="name" class="form-control" placeholder="Name"
                                    value="<%= editData.address_name %>" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="addressType">Address Type:</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="home" name="addressType"
                                        value="Home" checked>
                                    <label class="form-check-label" for="home">Home</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" id="work" name="addressType"
                                        value="Work">
                                    <label class="form-check-label" for="work">Work</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">House Name <span class="required">*</span></label>
                                <input type="text" name="address" class="form-control" value="<%= editData.house_name %>"
                                    placeholder="Street Address" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6  ">
                            <div class="form-group mt-2">
                                <label for="city">Street Name <span class="required">*</span></label>
                                <input type="text" name="town" class="form-control" value="<%= editData.street_address %>"
                                    placeholder="Town / City" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6  ">
                            <div class="form-group mt-2">
                                <label for="city">Town / City <span class="required">*</span></label>
                                <input type="text" name="town" class="form-control" value="<%= editData.city %>"
                                    placeholder="Town / City" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mt-2">
                                <label for="state">State<span class="required">*</span></label>
                                <input type="text" name="state" class="form-control" value="<%= editData.state %>"
                                    placeholder="State" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mt-2">
                                <label for="postcode">Postcode / Zip <span class="required">*</span></label>
                                <input type="text" name="postCode" class="form-control"
                                    value="<%= editData.pinCode %>" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label for="phone">Phone <span class="required">*</span></label>
                                <input type="text" name="phone" class="form-control" value="<%= editData.phone %>"
                                    placeholder="Phone" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label for="phone">Alt _Phone <span class="required">*</span></label>
                                <input type="text" name="phone" class="form-control" value="<%= editData.alt_phone %>"
                                    placeholder="Phone" />
                                <div class="error-message"></div>
                            </div>
                        </div>
                    </div>
                    
                        
                    
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  

                </form>
                
            </div>
        </div>
    </div>
</div>
<script>
    function redirectToAddAddress() {
        window.location.href = '/addAddressPage';
    }
</script>





<%-include('../partials/footer.ejs') %>