

<%- include('../partials/header.ejs' )%>

    <!-- Hero Section Begin -->

    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <% if (banners && banners.length > 0) { %>
                <% banners.forEach(banner => { %>
                    <div class="single-hero-items set-bg" data-setbg=<%=banner.imgUrl %>>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <span style="color: #ffffff;">Jewelry</span>
                                    <h1 style="color: #e7ab3c;"><%= banner._doc.title %></h1>
                                    <p style="color: #060202;"><%= banner._doc.description %></p>
                                    <a href="./shop" class="primary-btn">Shop Now</a>
                                </div>
                            </div>
                            <div class="off-card">
                                <h2>Sale <span>50%</span></h2>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="single-hero-items set-bg" data-setbg="assets/img/Home-Pics/Pic-2.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <span style="color: #ffffff;">Jewelry</span>
                                <h1 style="color: #e7ab3c;">Jhaanjhariya Specials</h1>
                                <p style="color: #060202;">Jhaanjhariya’s collection is a reflection of the richness and variety of Indian culture, with pieces handpicked from all over the country. Our personally handpicked selections are sure to make you feel truly special.</p>
                                <a href="./shop" class="primary-btn">Shop Now</a>
                            </div>
                        </div>
                        <div class="off-card">
                            <h2>Sale <span>50%</span></h2>
                        </div>
                    </div>
                </div>
                <div class="single-hero-items set-bg" data-setbg="assets/img/Home-Pics/Pic-3.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <span style="color: #ffffff;">Jewelry</span>
                                <h1 style="color: #e7ab3c;">Handcrafted Jewelry</h1>
                                <p style="color: #e3d5d5;">Discover the ideal jewelry for every occasion at Jhaanjhariya, making each event truly memorable.</p>
                                <a href="./shop" class="primary-btn">Shop Now</a>
                            </div>
                        </div>
                        <div class="off-card">
                            <h2>Sale <span>50%</span></h2>
                        </div>
                    </div>
                </div>      
            <% } %>
        </div>
    </section>
    
                 



        </div>
    </section>
    <div>


    </div>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="assets\img\Home-Pics\Banner1.jpg" alt="">
                        <div class="inner-text">
                            <h4>Ethnic</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="assets/img/Home-Pics\Banner2.jpg" alt="">
                        <div class="inner-text">
                            <h4>HandCrafted</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="assets/img/Home-Pics\Banner3.jpg" alt="">
                        <div class="inner-text">
                            <h4>Unique</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="/assets/img/Home-Pics/wome-large-left.jpg">
                        <h2>Women’s</h2>
                        <a href="./shop">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    
                    <div class="filter-control">
                        <div><h4>New Arriavals</h4></div>
                    
                        <ul>
                            <li class="category-item active" data-category="Earrings">Earrings</li>
                            <li class="category-item" data-category="Necklaces">Necklaces</li>
                            <li class="category-item" data-category="Bracelets">Bracelets</li>
                            <li class="category-item" data-category="Bracelets">Rings</li>
                            <li class="category-item" data-category="Bracelets">Bags</li>
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <% if (newArrivals && newArrivals.length > 0) { %>
                        <% newArrivals.forEach(product => { %>
                        <div class="product-item">
                            <div class="pi-pic">
                                <% if (product.images && product.images.length > 0 && product.images[0].imageUrl) { %>
                                    <img src="<%= product.images[0].imageUrl.replace(/\\/g, '/') %>" alt="<%= product.productName %>">
                                <% } else { %>
                                    <img src="#" alt="Default Image">
                                <% } %>
                                <div class="icon">
                                    <i class="icon_heart_alt" onclick="toggleWishlist('<%= product._id %>')" id="heart-icon-<%= product._id %>" style="font-size: 20px; cursor: pointer; color: <%= userWishlist && userWishlist.includes(product._id.toString()) ? 'red' : 'black' %>"></i>
                                </div>
                                <ul>
                                    <li class="quick-view"><a href="/product/<%= product._id %>">View Product</a></li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>
                        <% } else { %>
                        <p>No new arrivals at the moment.</p>
                        <% } %>
                    </div>
                    
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section class="deal-of-week set-bg spad" data-setbg="assets/img/Home-Pics/time-bg.jpg">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Deal Of The Week</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                        consectetur adipisicing elit </p>
                    <div class="product-price">
                        $35.00
                        <span>/ HandBag</span>
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>56</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hrs</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Secs</p>
                    </div>
                </div>
                <a href="/shoP" class="primary-btn">Shop Now</a>
            </div>
        </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8">
              <div class="filter-control">
                <ul>
                  <li class="category-item active" data-category="Hand Bags">Our Collections</li>
                  <li class="category-item" data-category="Hair Accessories">Hair Accessories</li>
                  <li class="category-item" data-category="Hand Accessories">Hand Accessories</li>
                  <li class="category-item" data-category="Foot Accessories">Foot Accessories</li>
                </ul>
              </div>
              <div class="product-slider owl-carousel">
                <% products.forEach(product => { %>
                <div class="product-item" data-category="<%= product.categoryName %>">
                  <div class="pi-pic">
                    <% if (product.images && product.images.length > 0 && product.images[0] && product.images[0].imageUrl) { %>
                      <img src="<%= product.images[0].imageUrl.replace(/\\/g, '/') %>" alt="<%= product.productName %>">
                    <% } else { %>
                      <img src="#" alt="Default Image">
                    <% } %>
                    <div class="icon">
                      <i class="icon_heart_alt"></i>
                    </div>
                    <ul>
                      <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                      <li class="quick-view"><a href="#">View Product</a></li>
                    </ul>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="product-large set-bg m-large" data-setbg="/assets/img/Home-Pics/wome-large-right.jpg">
                <h2>Jewellery</h2>
                <a href="./shop">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <div class="insta-item set-bg" data-setbg="/assets/img/insta-1.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/assets/img/insta-2.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/assets/img/insta-3.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/assets/img/insta-4.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/assets/img/insta-5.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="/assets/img/insta-6.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->
    
    <!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Initial category
        var currentCategory = "Earring";

        // Function to filter products based on category
        function filterProducts(category) {
            // Your logic to filter products based on the selected category
            // For example, you might make an AJAX request to the server to get category-specific products
            // Update the content of the product section accordingly
            console.log("Filtering products for category:", category);
        }

        // Handle mouseover event on category items
        $(".category-item").mouseover(function () {
            // Remove "active" class from all category items
            $(".category-item").removeClass("active");

            // Add "active" class to the current category item
            $(this).addClass("active");

            // Get the category value from the data attribute
            var selectedCategory = $(this).data("category");

            // Check if the selected category is different from the current one
            if (selectedCategory !== currentCategory) {
                // Update the current category
                currentCategory = selectedCategory;

                // Call the function to filter products based on the selected category
                filterProducts(currentCategory);
            }
        });
    });
</script>
<script>
    function toggleWishlist(productId) {
        const wishlistMessage = document.getElementById('wishlist-message');
        const heartIcon = document.getElementById('heart-icon-' + productId);
        const flashMessage = document.getElementById('flash-message');

        // Toggle heart icon color
        if (heartIcon.style.color === 'red') {
            heartIcon.style.color = 'black'; // If red, change to black
        } else {
            heartIcon.style.color = 'red'; // If black, change to red
        }

        // Fetch to add/remove product from wishlist
        fetch(`/addTowishlist/${productId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Display flash message
            if (data.success) {
                flashMessage.textContent = "Product added to wishlist";
                flashMessage.style.color = "green";
                flashMessage.style.display = "block";
                setTimeout(() => {
                    flashMessage.style.display = "none";
                }, 3000); // Hide flash message after 3 seconds
                // Reload the page (optional)
                // window.location.reload();
            } else {
                flashMessage.textContent = data.message; // Display error message
                flashMessage.style.color = "red";
                flashMessage.style.display = "block";
                setTimeout(() => {
                    flashMessage.style.display = "none";
                }, 3000); // Hide flash message after 3 seconds
            }
        })
        .catch(error => {
            console.error('Error in sending addTowishlist request:', error);
            flashMessage.textContent = "An error occurred while processing your request";
            flashMessage.style.color = "red";
            flashMessage.style.display = "block";
            setTimeout(() => {
                flashMessage.style.display = "none";
            }, 3000); // Hide flash message after 3 seconds
        });
}
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const categoryItems = document.querySelectorAll('.category-item');
  
      categoryItems.forEach(item => {
        item.addEventListener('click', function() {
          const category = this.getAttribute('data-category');
          window.location.href = `/?category=${category}`;
        });
      });
    });
  </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const categoryItems = document.querySelectorAll('.category-item');
      const productItems = document.querySelectorAll('.product-item');
  
      categoryItems.forEach(item => {
        item.addEventListener('click', function() {
          const category = this.getAttribute('data-category');
  
          categoryItems.forEach(item => item.classList.remove('active'));
          this.classList.add('active');
  
          productItems.forEach(product => {
            if (product.getAttribute('data-category') === category || category === 'all') {
              product.style.display = 'block';
            } else {
              product.style.display = 'none';
            }
          });
        });
      });
  
      // Initially show all products
      productItems.forEach(product => {
        product.style.display = 'block';
      });
    });
  </script>
  
  




    <%- include('../partials/footer.ejs')%>
   

   

    