<%- include('../partials/header.ejs') %>

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/shop">Shop</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Product Name</th>
                                <th>Variant</th>
                                <th>Price</th>
                                <th>Sale Price</th>
                                <!-- <th>Stock</th>                                 -->
                                <th>Quantity</th>                                
                                <th>Total</th>
                                <th><i class="ti-close"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cart && cart.length > 0) { %>
                                <% let grandTotal = 0; %>
                                <% cart.forEach((cartItem, index) => { %>
                                    <tr>
                                        <td class="cart-pic first-row">
                                            <img src="<%= cartItem.productId.images[0].imageUrl %>" alt="" style="max-width: 100px; max-height: 100px;">
                                        </td>
                                        <td class="cart-title first-row">
                                            <h5><%= cartItem.productId.productName %></h5>
                                        </td>
                                        <td>
                                            <div class="variant-color" style="background-color: <%= cartItem.variantId.color %>;"></div>
                                        </td>
                                        <td class="p-Normalprice first-row">Rs.<%= cartItem.variantId.price %></td>
                                        <td class="p-price first-row" id="salePrice-<%=  cartItem._id  %>">Rs. <%= cartItem.productId.salePrice %></td> 
                                        <!-- <td class="p-Stock first-row"><%= cartItem.variantId.stock%></td>                                      -->
                                       

                                        <td class="product-quantity">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" id="minusButton" class="btn btm-xm btn-danger quantity-button minus mx-2" onclick="decrementQuantity( `<%= cartItem._id %>`)">-</button>

                                                </span>
                                                <input id="quantity-<%= cartItem._id %>" value="<%= cartItem.quantity %>" min="1" class="form-control quantity-input" style="width: 10px;" <% if (cartItem.quantity > cartItem.variantId.stock){ %> style="pointer-events:none; width:30px;" <% } %> >


                                                    <span class="input-group-btn">
                                                        <button type="button" id="r" class="btn btm-xm btn-success quantity-button plus mx-2 " onclick="incrementQuantity( `<%= cartItem._id %>`,`<%= cartItem.variantId.stock%>`)">+</button>

                                                    </span>
                                            </div>
                                            <div id="cart-message" class="p-2 rounded-pill bg-danger"
                                                style="display: none; position: absolute; top: 70%; right:0px;color:rgb(255, 255, 255)">
                                            </div>
                                            <h5 style="color: rgb(135, 6, 182); font-size: 15px; margin-right: 41px; margin-top: 2px; margin-bottom: -25px;"
                                                id="AvailableStock-<%= cartItem.variantId.stock %>"></h5>
                                        </td>
                                        
                                        <td class="total-price first-row" id="subtotal-<%= cartItem._id %>"><%= (cartItem.productId.salePrice * cartItem.quantity).toLocaleString() %></td>
                                        <td class="product-remove first-row">
                                            <button style="width: 30px; height: 30px;" onclick="showConfirmation(`<%= cartItem._id %>`)"><i class="ti-close"></i></button>

                                               
                                            
                                        </td>
                                    </tr>
                                    <% grandTotal += (cartItem.productId.salePrice * cartItem.quantity); %>
                                <% }); %>
                            <% } else { %>  
                                <tr>
                                    <td colspan="6">Cart is empty</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart-buttons">
                            <!-- <a href="/shop" class="primary-btn continue-shop">Continue shopping</a> -->
                            <a href="/updateCart" class="primary-btn up-cart">Update cart</a>
                            <a href="/shop" class="primary-btn up-cart">Continue shopping</a>
                        </div>
                        <div class="discount-coupon">
                            <h6>Discount Codes</h6>
                            <form action="#" class="coupon-form">
                                <input type="text" placeholder="Enter your codes">
                                <button type="submit" class="site-btn coupon-btn">Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="subtotal" >Subtotal <span id="cart-total"><%= grandTotal.toLocaleString() %></span></li>
                                
                                <li class="discount">Discount <span>10%</span></li>
                                <li class="cart-total" >Total <span id="grand-total"><%= (grandTotal * 0.9).toLocaleString() %></span></li>
                            </ul>
                            <a href="/checkoutPage" class="proceed-btn">PROCEED TO CHECK OUT</a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>  

<style>
    .variant-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // sweet Alert when deleting a product from the cart
    function showConfirmation(productId) {
        console.log('hhh');
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to remove this item from your cart.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user clicks "Yes," redirect to the removeProduct endpoint
                window.location.href = "/removeProduct/" + productId;
            }
        });
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    const cartMessage = document.getElementById('cart-message');
    const hideMessage = () => {
        cartMessage.style.display = 'none';
    };

    function updateCartItemQuantity(productId, newQuantity) {
        $.ajax({
            type: 'POST',
            url: `/updateCartItem\/${productId}`,
            data: { quantity: newQuantity },
            success: function (response) {
                if (response.success) {
                    
                        document.getElementById(`quantity-${productId}`).value = newQuantity;

            // Update the subtotal for the individual product
                const productPriceText = document.getElementById(`salePrice-${productId}`).textContent
                const productPrice = parseInt(productPriceText.replace(/\D/g, ''), 10); 
                const subtotal = productPrice * newQuantity;
                    console.log(productPrice, subtotal);

                document.getElementById(`subtotal-${productId}`).textContent = `₹${subtotal.toLocaleString()}`;

           // Update the HTML element that displays the total amount
             const totalAmountElement = document.getElementById('cart-total');
              totalAmountElement.textContent = `₹${response.totalPrice.toLocaleString()}`;
                    const grandTotal = document.getElementById('grand-total')
                    grandTotal.innerText =  `₹ ${Math.floor(response.totalPrice * 0.9)}`
                }
                if (!response.success) {
                    console.log(response.message);
                    cartMessage.innerText = `${response.message}! `;
                    cartMessage.style.display = 'block';
                    setTimeout(hideMessage, 1000);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 400) {
                    // Handle out of stock or other errors
                    console.error('Request rejected:', jqXHR.responseJSON.message);
                } else {
                    // Handle other error cases
                    console.error('Error:', textStatus, errorThrown);
                }
            },
        });
    }

    // Button increment and decrement
    function incrementQuantity( productId,stock) {
    const quantityInput = document.getElementById('quantity-' + productId);
    let currentQuantity = parseInt(quantityInput.value);
    currentQuantity++;
    if(currentQuantity > stock){
        return Swal.fire({
            title:'Sorry',
            icon:'warning',
            text:'Stock Limit Reached'
        })
    }
    quantityInput.value = currentQuantity;
    

    if (typeof productId !== 'object') {
       
        updateCartItemQuantity(productId, currentQuantity);
        checkProductAvailability();
    }
}

    function decrementQuantity(productId) {
        const quantityInput = document.getElementById("quantity-" + productId);
        let currentQuantity = parseInt(quantityInput.value);
        if(currentQuantity>1){
            currentQuantity--;
            quantityInput.value = currentQuantity;
        } 
        
        if (typeof productId !== 'object') {              
                        
            const currentQuantity = parseInt($(`#quantity-${productId}`).val());
            $(`#quantity-${productId}-btn`).attr("disabled", false);
            
            if (currentQuantity <= 1){
                $(`#quantity-${productId}-btn`).attr("disabled","true");
                }
            
            const newQuantity = currentQuantity - 1;

            // Enable increment button if quantity is less than total stock
    const totalStock = parseInt($("#total-stock").text()); // Assuming you have an element with id "total-stock" displaying total stock
    if (currentQuantity < totalStock) {
        $(`#quantity-${productId}-btn`).attr("disabled", false);
    } else {
        $(`#quantity-${productId}-btn`).attr("disabled", "true");
    }
            updateCartItemQuantity(productId, currentQuantity);
            checkProductAvailability();
            }
        

    }    

    

</script> 

<script>
    function checkProductAvailability() {
    $.ajax({
        type: "GET",
        url: "/checkProductAvailability",
        success: function (response) {
            let allProductsAvailable = true;
            response.cartItems.forEach(item => {
                const productId = item.productId;
                const quantityInput = $(`#quantity-${productId}`);
                const href = $('#checkout-link');
                const checkoutButton = $('.checkout-tag');
                console.log('Checking ' + item.productId);

                // Check if the product is out of stock
                if (item.quantity > item.variantId.stock) {
                    // Disable the quantity input and display a message
                    quantityInput.prop("disabled", true);
                    quantityInput.val('0');
                    allProductsAvailable = false; // Set the flag to false
                    $(`#AvailableStock-${productId}`).text(`Available stock ${item.variantId.stock}`);
                    $(`#subtotal-${productId}`).text(`OUT OF STOCK!`);
                    $(`#subtotal-${productId}`).css('color', 'red')
                } else {
                    // Enable the quantity input
                    quantityInput.prop("disabled", false);
                    // Update the subtotal based on the updated quantity and price
                    const subtotal = item.productId.salePrice * item.quantity;
                    $(`#subtotal-${productId}`).text(`₹${subtotal.toLocaleString()}`);
                }

                if (allProductsAvailable) {
                    $(`#outOfStock-${productId}`).text("");
                    $(`#AvailableStock-${productId}`).text('');
                    $(`#subtotal-${productId}`).css('color', '');
                    checkoutButton.prop("disabled", false);
                    href.attr('href', '/checkout');
                } else {
                    checkoutButton.prop("disabled", true);
                    href.removeAttr('href');
                }
            });
        },
        error: function (textStatus, errorThrown) {
            console.error("Error checking product availability:", textStatus, errorThrown);
        }
    });
}
checkProductAvailability()

</script>








<%- include('../partials/footer.ejs') %>