<%- include('../partials/header.ejs')%>

<!-- Profile Section Begin -->
<div class="profile-section spad">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="profile-form">
          <h2 class="text-center mb-4">Profile Settings</h2>
          <div class="text-center">
     
            <h5 class="mb-4">Hello <%= user.fname + " " + user.lname %>!</h5>
          </div>
          <form id="registrationForm" action="/editProfile" method="post">
            <!-- Profile Form Content -->
            <section class="content-main">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input
                          class="form-control"
                          id="fname"
                          name="fname"
                          type="text"
                          value="<%= user.fname %>"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input
                          class="form-control"
                          id="lname"
                          name="lname"
                          type="text"
                          value="<%= user.lname %>"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input
                          class="form-control"
                          id="email"
                          name="email"
                          type="email"
                          value="<%= user.email %>"
                          disabled
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input
                          class="form-control"
                          id="mobile"
                          name="mobile"
                          type="tel"
                          value="<%= user.mobile %>"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Birthday</label>
                        <input
                          class="form-control"
                          id="birthday"
                          name="birthday"
                          type="date"
                          value="<%= user.birthday %>"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">My Wallet Balance</label>
                        
                        <a href="/wallet-history"  class="form-control btn btn-grey" >View wallet History ₹ <%= (walletBalance).toLocaleString() %> </a>
                        
                        
                        <br>
                        <br>                      
                        <div class="mb-3">
                          <label class="form-label">My Orders</label>
                          <a href="/myorders" class="form-control btn btn-grey">My Orders</a>
                      </div> 
                      <div class="md-3">
                        <div class="Form Label">                  
                          <small class="text-muted d-block">You can reset or change your password by clicking here</small>
                          <a href="/changePassword"> <!-- This is the new button for changing password -->
                            <button type="button" class="form-control btn btn btn-grey">
                              Change Password
                            </button>
                          </a>
                        </div>
                      </div>                   
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <button
                  type="submit"
                  class="site-btn register-btn btn btn-primary"
                >
                  Save Changes
                </button>
                <a href="/addAddressPage">
                  <button
                    type="button"
                    class="site-btn register-btn btn btn-grey"
                  >
                    Add Address
                  </button>
                </a>

              
              
              
              </div>

              
  
              
            </section>
            <!-- Profile Form Content End -->

            <!-- Additional Options -->
            
          

            <!-- Buttons -->
            


              <!-- <a href="/addAddressPage" class="btn btn-secondary">Add Address</a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Profile Section End -->

<!-- addaddress Button styling -->
<style>
  .btn-grey {
    background-color: grey;
    color: white;
  }

  .btn-grey:hover {
    background-color: darkgrey;
  }
</style>

<%- include('../partials/footer.ejs')%>
