



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #212529;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 10px;
            border-bottom: 1px solid #dee2e6;
            text-align: left;
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        .btn {
            display: inline-block;
            padding: 8px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-danger {
            background-color: #dc3545;
        }

        .btn-primary:hover,
        .btn-danger:hover {
            background-color: #0056b3;
        }

        .text-center {
            text-align: center;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .quickview-btn-cart a {
            display: inline-block;
            margin-top: 20px;
            margin-right: 10px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff; /* Text color */
            background-color: #ffc107; /* Primary button color */
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .quickview-btn-cart a:hover {
            background-color: #6c757d; /* Hover color */
        }
    </style>
</head>
<body>
    
    <div class="container">
        <h2 class="text-center">Order Details</h2>
        <% if (viewOrder) { %>
            <% viewOrder.items.forEach(item => { %>
                <table>
                    <tr>
                        <td>Order #</td>  
                        <td><%= viewOrder._id %></td>
                    </tr>
                    <tr>
                        <td>Customer Email:</td>
                        <td><%= viewOrder.user.email %></td>
                    </tr>
                    <tr>
                        <td>Shipping Address:</td>
                        <td>
                            <%= viewOrder.address.address_name %>, <%= viewOrder.address.house_name %>,
                            <%= viewOrder.address.street_name %>, <%= viewOrder.address.city %>,
                            <%= viewOrder.address.state %>, <%= viewOrder.address.pincode %>,
                            <%= viewOrder.address.phone %>, <%= viewOrder.address.alt_phone %>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td rowspan="8" style="text-align: center;">
                            <img src="<%= item.product.images[0].imageUrl %>" alt="Product Image" style="max-width: 100%; height: auto; margin: auto;" class="img-fluid" width="150px" height="150px">
                        </td>
                    </tr>
                    <tr>
                        <td>Product Name:</td>
                        <td><%= item.product.productName %></td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td><%= item.quantity %></td>
                    </tr>
                    <tr>
                        <td>Order Status:</td>
                        <td>
                            <strong class="<%= item.status === 'Pending' ? 'text-warning' :
                                (item.status === 'Shipped' ? 'text-primary' :
                                (item.status === 'Cancelled' ? 'text-danger' :
                                (item.status === 'Delivered' ? 'text-success' :
                                (item.status === 'Returned' ? 'text-info' :
                                (item.status === 'Refunded' ? 'text-success' : '' ))))) %>">
                                <%= item.status %>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Product Price:</td>
                        <td>₹<%= (item.product.salePrice).toLocaleString() %></td>
                    </tr>
                    <tr>
                        <td>Shipping Cost:</td>
                        <td>₹<%= viewOrder.processingFee %></td>
                    </tr>
                    <% if (viewOrder.discount) { %>
                        <tr>
                            <td>Discount Amount:</td>
                            <td>₹<%= viewOrder.discount %></td>
                        </tr>
                    <% } %>
                    <tr>
                        <td>Grand Total:</td>
                        <td>₹<%= (viewOrder.total).toLocaleString() %></td>
                    </tr>
                </table>

                <p class="card-text">
                    <strong>Payment Method: </strong>
                    <%= viewOrder.paymentMethod %>
                </p>

                <% if (viewOrder.paymentStatus !== 'Refunded') { %>
                    <p class="card-text">
                        <strong>Payment Status:</strong>
                        <strong class="<%= viewOrder.paymentStatus === 'Pending' ? 'text-warning' :
                            (viewOrder.paymentStatus === 'Paid' ? 'text-success' : '') %>">
                            <%= viewOrder.paymentStatus %>
                        </strong>
                    </p>
                <% } %>

                <% if (item.status === 'Delivered') { %>
                    <p class="card-text text-muted">
                        <span>Didn't like the product? You can return it within 7 days.</span>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/return-product/<%= viewOrder._id %>?_method=PUT" method="POST">
                                <input type="hidden" name="productId" value="<%= item.product._id %>">
                                <button type="submit" class="btn btn-success" style="height: 40px;">Return Product</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" id="invoiceBtn" data-invoice-id="<%= viewOrder._id %>" style="height: 40px; font-size: 10px;">Download Invoice</button>
                        </div>
                    </div>
                <% } else if (item.status === 'Return requested') { %>
                    <p class="card-text text-muted">
                        <span>Return request sent. Once the request is confirmed, the amount will be credited to the wallet (excluding processingFee).</span>
                    </p>
                <% } else if (item.status === 'Refunded') { %>
                    <p class="card-text text-muted">
                        <span>Your return request has been confirmed. The amount has been credited to the wallet.</span>
                    </p>
                <% } else { %>
                    <% if (item.status !== 'Cancelled') { %>
                        <form action="/cancelOrder/<%= viewOrder._id %>?_method=PUT" method="POST" id="cancelForm">
                            <input type="hidden" name="productId" value="<%= item.product._id %>">
                            <input type="hidden" name="newStatus" value="Cancelled">
                            <button type="submit" id="cancel-button" class="btn btn-danger h-auto">Cancel Order</button>
                        </form>
                    <% } else { %>
                        <p class="card-text text-danger">
                            <strong>Order Cancelled</strong>
                        </p>
                    <% } %>
                <% } %>
            <% }); %>
        <% } %>

        
    </div>

    <script>
        document.getElementById("invoiceBtn").addEventListener("click", function () {
            var invoiceButton = this;
            var invoiceId = this.getAttribute("data-invoice-id");

            // Disable the button and change its text
            invoiceButton.disabled = true;

            fetch(`/download-invoice/${invoiceId}`)
                .then((response) => {
                    if (response.ok) {
                        return response.blob();
                    } else {
                        console.error("Failed to download the invoice");
                    }
                })
                .then((blob) => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.href = url;
                    a.download = "invoice.pdf";
                    a.click();
                    window.URL.revokeObjectURL(url);

                    // Re-enable the button and restore its original text
                    invoiceButton.disabled = false;
                })
                .catch((error) => {

                    // Re-enable the button and restore its original text
                    invoiceButton.disabled = false;

                    console.error("An error occurred:", error);
                });
        });
    </script>
</body>






                
