<%- include('../partials/header.ejs') %>

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/shop">Shop</a>
                    <span>Wishlist</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Wishlist Section Begin -->
<div class="cart-main-area pt-95 pb-100 wishlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="/wishlist" method="post">
                    <% if (wishlist.length > 0) { %>
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Remove</th>
                                    <th>Add to Cart</th>

                                </tr>
                            </thead>
                            
                            <tbody>
                                <% wishlist.forEach((item, index) => { %>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="/product/<%= item._id %>"><img src="<%= item.images[0].thumbnailUrl %>" alt="Product image" style="max-width: 100px;"></a>
                                    </td>
                                    <br>
                                    <td class="product-name">
                                        <a href="/product/<%= item._id %>"><%= item.productName %></a>
                                    </td>
                                    <td class="product-price-cart">
                                        <span class="amount">₹<%= item.salePrice %></span>
                                    </td>
                                    <td class="product-remove">
                                        <a href="/removeWishlist/<%= item._id %>"><i class="ti-close" style="font-size: 29px;"></i></a>
                                    </td>
                                        
                                    <td class="cart-icon">
                                        <% if (item.quantity > 0) { %>
                                            <a href="/addtoCart/<%= item._id %>">
                                                <i class="icon_bag_alt" style="font-size: 29px;"></i>
                                            </a>
                                        <% } else { %>
                                            <form action="/addTowishlist/<%= item._id %>" method="get">
                                                <input type="hidden" name="quantity" value="1">
                                                <button type="submit">
                                                    <i class="icon_bag_alt" style="font-size: 29px;"></i>
                                                </button>
                                            </form>
                                        <% } %>
                                    </td>
                                    
                                    
                                </tr>   
                                <% }); %>
                                <% } else { %>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="" alt="">
                                    </div>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- Wishlist Section End -->

<style>
    /* Style for the table */
.table-content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style for table headers */
.table-content th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Style for table rows */
.table-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style for table data cells */
.table-content td {
  padding: 10px;
}

/* Style for product thumbnail images */
.product-thumbnail img {
  max-width: 100px;
  height: auto;
}

/* Style for product name links */
.product-name a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Style for remove icon */
.product-remove i {
  color: #ff0000; /* Red color for the remove icon */
  cursor: pointer;
}

</style>


<%- include('../partials/footer.ejs') %>



