<%- include('../partials/header.ejs')%>     

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <style>
        .paginate_button{
            padding: 0px !important;
            margin-left: 0px !important;
        }
    </style>
</head>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table style="width: 100%;" id="example" class="table table-striped table-bordered table-sm"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th scope="col">Products</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (orders.length > 0) { %>
                            <% orders.forEach(order => { %>
                                <tr>
                                    <td><%= order.orderId %></td>
                                    <td><%= order.items.length %></td>
                                    <td><%= order.address.address_name %></td> <!-- Adjust this line according to your order schema -->
                                    <td><%= (order.total).toLocaleString() %></td>
                                    <td><%= order.orderDate.toLocaleDateString('en-IN', { year: 'numeric', month: 'numeric', day: 'numeric' }) + ' ' +
                                        order.orderDate.toLocaleTimeString('en-IN', { hour: 'numeric', minute: 'numeric' }) %></td>
                                    <td>
                                        <a href="/admin/editOrder/<%= order._id %>" class="btn btn-md rounded font-sm" style="padding: 5px 10px; font-size: 12px;">Detail</a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="6">
                                    <h2>No Orders yet</h2>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<style>
    .fa-list-alt,
    .fa-gift,
    .fa-tag,
    .fa-image {
        color: #adb5bd;
    }

    .text {
        color: black;
        font-weight: 400;
    }

    .menu-item {
        text-decoration: none;
    }

    a {
        text-decoration: none !important;
    }

    .logo-img {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<script>
    $(document).ready(function () {
        new DataTable('#example', {
            order: [[4, 'desc']]
        });
    });
</script>
